[ls-accent="rich-black"] {
    $accent: rgb(6, 0, 35);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 35%), 20%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(lighten(desaturate($accent, 25%), 35%))};
    --accent-contrast: #{lighten(desaturate($accent, 18%), 60%)};
}

[ls-accent="navy"] {
    $accent: rgb(40, 28, 108);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 35%), 20%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(lighten(desaturate($accent, 25%), 35%))};
    --accent-contrast: #{lighten(desaturate($accent, 18%), 60%)};
}

[ls-accent="blue"], html {
    
    // Default color
    
    $accent: rgb(0, 133, 255);
    
    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #{lighten(desaturate($accent, 18%), 50%)};
}

[ls-accent="pastel-indigo"] {
    $accent: rgb(70, 118, 181);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: 60,72,89;
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="lapis"] {
    $accent: rgb(34, 114, 154);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 25%))};
    --accent-contrast: #{lighten(desaturate($accent, 18%), 50%)};
}

[ls-accent="teal"] {
    $accent: rgb(0, 128, 128);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 20%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="pastel-teal"] {
    $accent: rgb(69, 195, 205);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: 69,100,103;
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="aquamarine"] {
    $accent: rgb(58, 160, 125);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 25%), 25%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 25%))};
    --accent-contrast: #222;
}

[ls-accent="mint"] {
    $accent: rgb(106, 238, 189);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 25%), 25%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 40%))};
    --accent-contrast: #222;
}

[ls-accent="green"] {
    $accent: rgb(25, 135, 84);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 20%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 20%))};
    --accent-contrast: #fff;
}

[ls-accent="lime"] {
    $accent: rgb(133, 210, 50);
    
    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 20%), 20%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="neon"] {
    $accent: rgb(173, 255, 110);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 60%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 55%), 20%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 18%))};
    --accent-text-raw: #{toRaw(darken($accent, 45%))};
    --accent-contrast: #222;
}

[ls-accent="yellow"] {
    $accent: rgb(255, 236, 32);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(saturate($accent, 5%), 28%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="lstv-red"] {
    $accent: rgb(237, 108, 48);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="lstv-yellow"] {
    $accent: rgb(252, 194, 27);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="lstv-blue"] {
    $accent: rgb(64, 192, 231);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="orange"] {
    $accent: rgb(255, 140, 32);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="deep-orange"] {
    $accent: rgb(255, 112, 52);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="red"] {
    $accent: rgb(245, 47, 47);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 26%), 20%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="rusty-red"], [ls-accent="bright-red"] {
    $accent: rgb(220, 53, 69);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="pink"] {
    $accent: rgb(230, 52, 164);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 60%), 35%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="hotpink"] {
    $accent: rgb(245, 100, 169);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="purple"] {
    $accent: rgb(155, 77, 175);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 25%), 30%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #eee;
}

[ls-accent="soap"] {
    $accent: rgb(210, 190, 235);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 25%), 25%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="burple"] {
    $accent: rgb(81, 101, 246);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #eee;
}

[ls-accent="gray"],
:disabled {
    $accent: rgb(73, 73, 73);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 20%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #eee;
}

[ls-accent="gray-light"] {
    $accent: rgb(107, 107, 107);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 25%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 30%))};
    --accent-contrast: #222;
}

[ls-accent="white"] {
    $accent: rgb(225, 225, 225);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(darken(desaturate($accent, 50%), 40%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(darken($accent, 35%))};
    --accent-contrast: #222;
}

[ls-accent="black"] {
    $accent: rgb(16, 16, 16);

    --accent-raw: #{toRaw($accent)};
    --accent-background-raw: #{toRaw(lighten(desaturate($accent, 50%), 10%))};
    --accent-dark-raw: #{toRaw(darken(desaturate($accent, 8%), 12%))};
    --accent-light-raw: #{toRaw(lighten(desaturate($accent, 8%), 12%))};
    --accent-text-raw: #{toRaw(#fff)};
    --accent-contrast: #fff;
}

[ls-accent="sand"] {
    --accent-raw: 236, 98, 111;
    --accent-dark-raw: 230, 103, 53;
    --accent-background-raw: 109, 93, 139;
    --accent-light-raw: 242, 171, 143;
    --accent-contrast: #222;
}

[ls-accent="icepop"] {
    --accent-raw: 206, 38, 38;
    --accent-dark-raw: 36, 102, 157;
    --accent-light-raw: 80, 154, 215;
    --accent-background-raw: 13, 26, 38;
    --accent-contrast: #ddd;
}

[ls-accent="cozy"] {
    --accent-raw: 180, 133, 124;
    --accent-dark-raw: 92, 133, 161;
    --accent-background-raw: 81, 105, 121;
    --accent-light-raw: 156, 181, 199;
    --accent-contrast: #222;
}

[ls-accent="sport"] {
    --accent-raw: 246, 66, 35;
    --accent-dark-raw: 94, 221, 9;
    --accent-light-raw: 150, 248, 84;
    --accent-text-raw: 150, 248, 84;
    --accent-background-raw: 39, 52, 4;
    --accent-contrast: #000;
}

[ls-accent], :disabled, html {
    --accent: rgb(var(--accent-raw));
    --accent-transparent: rgb(var(--accent-raw), 20%);
    
    --accent-background: rgb(var(--accent-background-raw));

    --accent-dark: rgb(var(--accent-dark-raw));
    --accent-dark-transparent: rgb(var(--accent-dark-raw), 50%);

    --accent-light: rgb(var(--accent-light-raw));
    --accent-light-transparent: rgb(var(--accent-light-raw), 50%);

    --accent-text: rgb(var(--accent-text-raw));
    --accent-text-transparent: rgb(var(--accent-text-raw), 50%);
}