.ls-checkbox, .ls-radio {
    padding-left: calc(1em + 20px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;

    > span {
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    > input:checked ~ span::after {
        display: block;
    }
}

:is(.ls-checkbox, .ls-radio, .ls-radio-button) > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute !important;
}

.ls-checkbox > span::after {
    content: "";
    width: .2em;
    height: .5em;
    border: solid var(--accent-contrast);
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.ls-radio > span::after {
    content: "";
    width: .6em;
    height: .6em;
    background: var(--accent-contrast);
    display: none;
}

.ls-radio-button > input:checked ~ #{$button} {
    background: var(--accent-dark-transparent);
    color: var(--accent-contrast);
}

ls-box {
    background: var(--elevate-1);
    display: block;

    &:not(.contained, .color, .inline) {
        outline: 1px solid var(--transparent-overlay-strong);
        box-shadow: 0 10px 20px 0 #0002;
    }
    
    &:not(.contained) {
        display: block;
    }
    
    &:not(.inline) {
        border-radius: var(--border-radius);
        padding: var(--padding-control-v) var(--padding-control-h);
    }
    
    &.inline {
        display: inline-block;
        outline: 2px solid rgb(var(--accent-raw), 10%);
        border-radius: var(--border-radius-small);
        padding: 0 var(--padding-label-h);
    }
    
    &.inline.pill {
        border-radius: var(--border-radius-full);
        padding: 0 var(--padding-label-h-pill);
    }
    
    &.color {
        color: var(--accent-light);
        background: rgb(var(--accent-raw), 10%);
    }
    
    &::selection {
        background: var(--accent-transparent);
    }
}

ls-group {
    display: inline-flex;

    > * {
        margin: 0;
    }

    > *:not(:only-child) {
        &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}