.ls-checkbox, .ls-radio {
    padding-left: calc(1em + 20px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.ls-checkbox > input, .ls-radio > input, .ls-radio-button > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute !important;
}

.ls-checkbox > span, .ls-radio > span {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.ls-checkbox > span::after {
    content: "";
    width: .2em;
    height: .5em;
    border: solid var(--accent-contrast);
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

:is(.ls-checkbox, .ls-radio) > input:checked ~ span::after {
    display: block;
}

:is(.ls-radio-button) > input:checked ~ #{$button} {
    background: var(--accent-dark-transparent);
    color: var(--accent-contrast);
}

.ls-radio > span::after {
    content: "";
    width: .6em;
    height: .6em;
    background: var(--accent-contrast);
    display: none;
}

ls-box {
    background: var(--elevate-1);
    display: block;
}

ls-box:not(.contained, .color, .inline) {
    outline: 1px solid var(--transparent-overlay-strong);
    box-shadow: 0 10px 20px 0 #0002;
}

ls-box:not(.contained) {
    display: inline-block;
}

ls-box:not(.inline) {
    border-radius: var(--border-radius);
    padding: var(--padding-control-v) var(--padding-control-h);
}

ls-box.inline {
    display: inline-block;
    outline: 2px solid rgb(var(--accent-raw), 10%);
    border-radius: var(--border-radius-small);
    padding: 0 var(--padding-label-h);
}

ls-box.inline.pill {
    border-radius: var(--border-radius-full);
    padding: 0 var(--padding-label-h-pill);
}

ls-box.color {
    color: var(--accent-light);
    background: rgb(var(--accent-raw), 10%);
}

ls-box::selection {
    background: var(--accent-transparent);
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}

ls-group {
    display: inline-flex;
}

ls-group > * {
    margin: 0;
}

ls-group > *:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

ls-group > *:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}