.ls-checkbox, .ls-radio {
    padding-left: calc(1em + 20px);
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;

    > span {
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    > input:checked ~ span::after {
        display: block;
    }
}

:is(.ls-checkbox, .ls-radio, .ls-radio-button) > input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute !important;
}

.ls-checkbox > span::after {
    content: "";
    width: .2em;
    height: .5em;
    border: solid var(--accent-contrast);
    border-width: 0 .15em .15em 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.ls-radio > span::after {
    content: "";
    width: .5em;
    height: .5em;
    background: var(--accent-contrast);
    display: none;
}

.ls-radio-button > input:checked ~ #{$button} {
    background: var(--accent-dark-transparent);
    color: var(--accent-contrast);
}

ls-box {
    background: var(--elevate-1);
    display: block;

    &:not(.contained, .color, .inline) {
        outline: 1px solid var(--transparent-overlay-strong);
        box-shadow: 0 10px 20px 0 #0002;
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }
    
    &:not(.contained) {
        display: block;
    }
    
    &:not(.inline) {
        border-radius: var(--border-radius);
        padding: var(--padding-content-v) var(--padding-content-h);
    }

    &.inline {
        display: inline-block;
        outline: 2px solid rgb(var(--accent-raw), 10%);
        border-radius: var(--border-radius-small);
        padding: 0 var(--padding-label-h);
    }
    
    &.inline.pill {
        border-radius: var(--border-radius-full);
        padding: 0 var(--padding-label-h-pill);
    }
    
    &.color {
        color: var(--accent-light);
        background: rgb(var(--accent-raw), 10%);
    }
    
    &::selection {
        background: var(--accent-transparent);
    }
}

ls-div {
    display: block;
    margin: var(--margin-content-v) 0;
}

ls-group {
    display: inline-flex;

    > * {
        margin: 0;
    }

    > *:not(:only-child) {
        &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}


.ls-toast-layer {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    padding-bottom: 1em;
    gap: 1em;
}

.ls-toast {
    pointer-events: all;
    transform: scaleY(0);
    opacity: 0;
    margin-top: -70px;
    padding: .5em 1.8em;
    background: var(--accent-background);
    border-radius: 2em;
    overflow: hidden;
    transition: .2s;
    -webkit-user-select: none;
    user-select: none;
    color: var(--accent);
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px 0 #0002;
}

.ls-toast.open {
    transform: unset;
    opacity: 1;
    margin-top: 0;
}

button#{priority(".ls-toast-close", 2)} {
    margin: 0;
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
    padding: .2em;
    font-size: 1.2em;
    box-sizing: content-box;
    margin-left: 1em;
    margin-right: -1em;
}

.ls-toast-content {
    display: inline-block;
    padding: .5em 0;
}

.ls-toast > i {
    margin-right: 0.8em;
    margin-left: -0.4em;
}