/*
    Author: Lukas (thelstv)
    Copyright: (c) https://lstv.space

    Last modified: 2025
    License: GPL-3.0
    Version: 5.0.0
    See: https://github.com/thelstv/LS
*/


$button: ':is(button, input[type="button"], input[type="submit"], input[type="reset"], .ls-button)';
$input: ':is(input[type="text"], input:not([type="button"]):not([type="submit"]):not([type="color"]):not([type="file"]):not([type="reset"]):not([type="image"]))';

@import "css/themes.scss";
@import "css/essentials.scss";
@import "css/utils.scss";
@import 'css/colors.scss';

%font {
    font-family: var(--font);
    color: var(--color);
}

[ls] {
    @extend %font;
    
    :is(button, input, select, textarea) {
        @extend %font;

        padding: var(--control-padding-v) var(--control-padding-h);
    }

    --control-padding-h: 10px;
    --control-padding-v: 5px;

    background: var(--background);
    overflow-y: overlay;
}

#ls-top-layer {
    position: fixed;
    z-index: 50000000;
}