[ls-style="flat"] {





    // Variables
    --br: 6px;
    --br-lg: 8px;
    
    --br-tiny: 5px;
    --br-tiny-inside: 4px;
    
    --br-small: 8px;
    --br-small-inside: 5px;

    --br-medium: 14px;
    --br-medium-inside: 10px;

    --br-big: 18px;
    --br-big-inside: 15px;

    --br-round: 24px;
    --br-round-inside: 20px;

    --br-extra: 34px;
    --br-extra-inside: 30px;

    --shadow-overlay-0: 0 12px 32px 0 #0004;
    --shadow-overlay-1: 0 12px 24px 0 #0006;
    --shadow-overlay: var(--shadow-overlay-0);

    --shadow-float-0: 0 4px 16px -5px #0008;
    --shadow-float-1: 0 6px 18px -5px #000a;
    --shadow-float-box: 0 10px 20px 0 #0002;
    --shadow-float: var(--shadow-float-0);
    
    --shadow-elevate-0: 0 1px 4px 0 #0004, inset 0 1px 0 0 #fff2;
    --shadow-elevate-1: 0 2px 8px 0 #0004, inset 0 1px 0 0 #fff3;
    --shadow-elevate-3: 0 4px 12px 4px #0004, inset 0 1px 0 0 #fff4;
    --shadow-elevate: var(--shadow-elevate-0);
    


    :is(textarea):focus, #{$input}:focus {
        outline: 2px solid var(--accent-focus, var(--accent));
        background: rgb(var(--accent-raw), 10%);
    }

    #{$button} {
        background: var(--accent);
        color: var(--color-bg, #fff);
    }

    #{$button}:not(.pill, .circle) {
        padding: 8px 20px;
    }

    :is(#{$button}, ls-select).elevated {
        outline: none;
        background: rgb(var(--accent-raw), 10%);
        color: var(--accent-light);
        transition-duration: .1s;
        transition-property: background;
    }

    :is(#{$button}, ls-select).plain {
        background: none;
        outline: none;
    }

    :is(#{$button}, ls-select).outlined {
        outline: none;
        background: none;
        color: var(--accent-light);
        border: 1px solid var(--accent-light);
        transition-duration: .1s;
        transition-property: background;
    }

    :not(ls-group) > #{$button}:focus {
        // Elements focused standard way
        box-shadow: 0 0 0 3px var(--transparent-overlay-dark);
    }

    :is(#{$button}, ls-select):focus-visible {
        // Elements focused via keyboard
        outline: 2px solid var(--accent-light);
        opacity: 1;
    }

    :is(#{$button}, ls-select):not(.elevated, .outlined):focus-visible {
        // Elements focused via keyboard
        outline: 2px solid var(--color);
    }

    #{$button}:hover:not([disabled]) {
        filter: brightness(1.1);
    }

    #{$button}:active:not([disabled]) {
        // filter: brightness(1.3);
        background: var(--accent-light);
    }

    #{$button}.elevated:hover:not([disabled]) {
        background: rgb(var(--accent-raw), 15%);
    }

    #{$button}.elevated:active:not([disabled]) {
        background: rgb(var(--accent-raw), 25%);
    }

    button.outlined:active:not([disabled]) {
        background: rgb(var(--accent-raw), 10%);
    }

    ls-group[join] > #{$button}.elevated:first-child, ls-group[join] > #{$button}.elevated:not(:first-child, :last-child) {
        border-right: 1px solid var(--accent);
    }

    ls-select {
        outline: 0.1em solid var(--elevate-1);
        overflow: hidden;
        padding: 0.2em 1.2em;
        padding-right: 2.4em;
        background: var(--elevate-1);
        border-radius: var(--br-small);
    }

    .ls-tooltip-content {
        border: .05em solid #00000038;
        box-shadow: inset 0 .0625em 0 0 #fff2;
        background: var(--ui-bg-1);
        border-radius: var(--br-small-inside)
    }

    ls-menu {
        border-radius: var(--br-small);
        box-shadow: 0px 3px 20px -4px #00000069;
        padding: 0 0 4px;
    }

    ls-option {
        border-radius: var(--br-small);
        margin: 3px 6px;
        padding: 5px 12px;
    }

    .ls-checkbox > span, .ls-radio > span {
        border: 2px solid var(--elevate-3);
        border-radius: var(--br-small-inside);
        transition: background .2s;
    }

    // .ls-checkbox > span {
    //     border-radius: var(--br-small-inside);
    // }

    .ls-radio > span {
        border-radius: 50%;
    }
    
    :is(.ls-checkbox, .ls-radio) > span::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: -.8em;
        transition: background .2s, transform .2s;
        transform: scale(.8);
    }
    
    .ls-radio > span::after {
        background: var(--accent);
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span::before {
        display: none;
    }

    :is(.ls-checkbox, .ls-radio):active > span::before {
        background: rgb(var(--accent-raw), 20%);
        transform: scale(1);
    }

    .ls-checkbox > input:checked ~ span {
        background: var(--accent);
        border: none;
    }

    .ls-radio > input:checked ~ span {
        border-color: var(--accent);
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span {
        opacity: .8;
        --elevate-3: var(--elevate-1);
        cursor: not-allowed;
    }

    /*]part(Modal)*/
    ls-modal {
        background: var(--ui);
        border-radius: 1rem;
        outline: 1px solid var(--transparent-overlay-strong);
        box-shadow: 0 10px 20px 0 #0002;
        flex-direction: column;
        overflow: hidden;
    }
    
    ls-modal-body {
        padding: 1.4rem;
    }

    ls-modal-footer > button {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border-left: 1px solid var(--transparent-overlay);
        color: var(--accent);
        transition: background .1s;
        background: transparent !important;
    }

    
    ls-modal-footer > button:active:not([disabled]) {
        background: var(--elevate-1) !important;
    }
    /*]end*/
}