@import "../variables.scss";

[ls-style="flat"] {

    --border-radius-small: 4px;
    --border-radius:       6px;
    --border-radius-large: 16px;
    --border-radius-full:  100px;

    #{$button}, input, select, textarea {
        border-radius: var(--border-radius);
    }

    #{$button} {
        transition: background .1s;
        background-color: var(--accent);
        color: var(--accent-contrast);

        &:not(:disabled) {
            &:hover, &:focus {
                background-color: var(--accent-light);
            }

            &:active {
                filter: brightness(0.9);
            }

            &:focus {
                outline: 2px solid rgb(var(--accent-raw), 10%);
            }

            &:focus-visible {
                outline: 2px solid rgb(var(--accent-raw), 50%);
            }
        }

        &:disabled {
            opacity: 0.8;
            cursor: not-allowed;
        }
    }

    #{$button}.circle {
        border-radius: 50%;
    }

    #{$button}.elevated {
        background-color: var(--accent-transparent);
        color: var(--accent-light);

        &:hover, &:focus {
            background-color: rgb(var(--accent-raw), 40%);
        }
    }

    #{$button}.pill {
        border-radius: var(--border-radius-full);
        padding: var(--padding-control-v) var(--padding-control-h-pill);
    }

    #{$input} {
        background: var(--bg-0);
        border: 2px solid var(--elevate-0);

        &:focus {
            border: 2px solid var(--accent-focus, var(--accent));
            background: rgb(var(--accent-raw), 10%);
        }
    }

    .ls-checkbox > span, .ls-radio > span {
        border: 2px solid var(--elevate-3);
        border-radius: var(--border-radius-small);
        transition: background 0.2s;
    }

    .ls-radio > span {
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > span::before {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: -0.8em;
        transition: background 0.2s, transform 0.2s;
        transform: scale(0.8);
    }

    .ls-radio > span::after {
        background: var(--accent);
        border-radius: 50%;
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span::before {
        display: none;
    }

    :is(.ls-checkbox, .ls-radio):active > span::before {
        background: rgb(var(--accent-raw), 20%);
        transform: scale(1);
    }

    .ls-checkbox > input:checked ~ span {
        background: var(--accent);
        border: none;
    }

    .ls-radio > input:checked ~ span {
        border-color: var(--accent);
    }

    :is(.ls-checkbox, .ls-radio) > input:disabled ~ span {
        --elevate-3: var(--elevate-1);
        cursor: not-allowed;
    }

}